# DataSource
spring.datasource.url = jdbc:mysql://{{mysql_addr}}:3306/ApolloPortalDB?characterEncoding=utf8
spring.datasource.username = {{ admin_user }}
spring.datasource.password = {{ admin_conn_password }}
