[mysqld_safe] 
pid-file = /var/run/mysqld/mysqld.pid
              
[client] 
socket = /var/lib/mysql/mysql.sock
 
[mysql]  
port=3306  
prompt="\\u@\\h:\\d \\R:\\m:\\s>" 
no-auto-rehash  
default-character-set=utf8 
 
[mysqld]  
character-set-server=utf8
#####dir#####  
datadir = /var/lib/mysql  
tmpdir = /data/mysql/tmp  
socket = /var/lib/mysql/mysql.sock
log-error = /data/mysql/log/mysqld.log
slow_query_log_file= /data/mysql/log/slow.log 
log_timestamps=SYSTEM

######replication#####  
gtid-mode = on 
log-slave-updates=ON 
enforce-gtid-consistency=ON 
master-info-file = /data/mysql/log/master.info  
relay-log = /data/mysql/log/mysqld-relay-bin  
relay_log_info_file=/data/mysql/log/relay-log.info  
relay-log-index = /data/mysql/log/mysqld-relay-bin.index  
skip-slave-start 
 
#####binlog#####  
log-bin = /data/mysql/log/mysql-bin  
server_id={{ 10000|random}}
binlog_cache_size=32K  
binlog_format=ROW  
sync_binlog=0  
expire_logs_days=7 

#####not innodb options (fixed)#####  
back_log = 200  
max_connections = 1000  
max_allowed_packet = 24M  
max_heap_table_size = 64M  
sort_buffer_size = 2M  
join_buffer_size = 4M  
thread_cache_size=400  
tmp_table_size = 64M  


#####server#####  
default-storage-engine=INNODB  
lower_case_table_names = 1  
long_query_time = 1 
slow_query_log=1  
port = 3306  
# skip-name-resolve  
skip-ssl  
max_connect_errors = 65535  
max_user_connections = 950 
 
#####innodb#####  
innodb_data_home_dir=/var/lib/mysql
innodb_buffer_pool_size = 2G
innodb_file_per_table = 1  
innodb_flush_log_at_trx_commit = 0
innodb_lock_wait_timeout = 100  
innodb_log_buffer_size= 100M  
innodb_log_file_size = 30M  
innodb_log_files_in_group = 4  
innodb_thread_concurrency = 16  
innodb_max_dirty_pages_pct = 50  
#transaction-isolation = READ-COMMITTED  
innodb_buffer_pool_instances=4 
#innodb_force_recovery = 1
